{% extends 'base.html' %}

{% block tittle %} {{meal_category}} {% endblock %}

{% block body %}
    {% if meals %}
        {% for meal in meals %}
    <div class="h-100 p-5 text-white bg-dark rounded-3">
        <style type="text/css">
   A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   }
  </style>
            <h2><a href="{% url 'cafe_core_app:meal' meal.id %}" class="link-light">{{meal.name}}</a></h2>
            <a href="{% url 'cafe_core_app:grafic' meal.id %}" class="btn btn-secondary">График популярности блюда</a>
        </div><br>
        {% endfor %}
    {% else %}
        Пусто. Нету блюд в этой категории
    {% endif %}
{% endblock %}